.hrmeno
{
    background-color:#45a132;
    height: 12px;

}
hr{
    width: 100%;
}
.logo{
   float: right;
    margin-right: 100px;
    
    
}

.margin-menu{
    margin-right: 40px;
}
.kasboandcar{
    background-color: green;
    border-radius: 12px;
    padding: 5px;
    color: ivory;
}
.mycenter{
    background-color: green;
    border-radius: 12px;
    color: ivory;
    padding-left: 20px;
    padding-right: 20px;
}
.titr{
    text-align: center;
    font-size: 27px;
}